
.leaflet-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
}

.map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.container {
  display: list-item;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popups .leaflet-popup-content-wrapper {
  background-color: black;
  width: 190px;
  height: 60px;
  color: white;
  visibility: visible;
  padding: 0px;
}

.btn{
  margin:20%
}